body {
    background-image: url("../images/Shadowlands.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    font-family: Raleway, sans-serif;
    font-size: 1.75rem;
    color: #fff;
}

h1 {
    font-weight: bold;
}

#description {
    width: 40vw;
    margin: 0 auto;
}

#survey-form, #submitted {
    width: 40vw;
    margin: 1.5em auto;

    background-color: rgba(0, 0, 0, 0.6);

    padding: 3em;
}

label {
    font-weight: normal;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 1em;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 10em;
}

@media screen and (max-width: 480px) {
    #description, #survey-form {
        width: 75vw;
    }
}