body {
   background-color: #ddd;
   font-size: 1vw;
   font-family: Muli, sans-serif;
   display: grid;
   align-items: center;
   justify-items: center;
}

header {
   background-color: #666;
   color: #FFF;
   width: 100vw;
   padding: .5vw;
   position: fixed;
   top: 0;
   left: 0;
}

header a {
   color: #FFF;
   font-size: 1.25vw;
   text-decoration: none;
}

header a:hover {
   color: #CCC;
}

nav ul {
   padding: 0;
   margin: 0;
}

nav li {
   display: inline-flex;
   padding: 0 1vw;
}

h1 {
   font-family: Lobster, sans-serif;
   font-size: 3vw;
   margin: 2% 0 0 0;
}

#main {
   background-color: #fff;
   width: 75%;
   margin: 5vw auto;
   display: grid;
   align-items: center;
   justify-items: center;
}

#img-div {
   background-color: #ddd;
   width:75%;
   padding: 2vw;
   display: grid;
   justify-items: center;
}

#image {
   max-width: 100%;
   height: auto;
}

#img-caption {
   margin-top: 2vw;
}

#tribute-info {
   text-align: justify;
   width: 75%;
}

#quote {
   margin-top: 3vw;
}

footer {
   padding: 2vw 0 ;
   font-weight: bold;
   font-size: 1.25vw;
}
