/* Variables and Imports */
@import url("https://fonts.googleapis.com/css?family=Muli");
/* Global */
html {
  font-size: 62.5%;
}

html * {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.75rem;
  font-family: Muli, sans-serif;
}

button {
  border: 0;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
  background-color: #ccc;
  border: 0.5px solid #bbb;
}

h1 {
  color: #017f55;
  font-size: 2.5rem;
}

section {
  margin-top: 10rem;
}

/* Classes */
a.anchor {
  display: block;
  position: relative;
  top: -10rem;
  visibility: hidden;
}

.container {
  width: 75vw;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.primary-btn {
  background-color: #e87d11;
  color: white;
  border: 0.5px solid #b8630e;
}

.text-centered {
  text-align: center;
}

/* Header */
#header {
  background-color: #017f55;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  padding: 0.75rem;
  z-index: 100;
}

#header a {
  text-decoration: none;
}

#header-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-image {
  height: 4rem;
}

#hamburger-menu {
  height: 3rem;
}

/* Menu Styling Classes */
.largeMenu a {
  color: white;
}

.largeMenu li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.largeMenu li:not(:first-child):not(:last-child) {
  margin: 0 1rem;
}

.smallMenu {
  display: none;
  position: absolute;
  width: 100%;
  height: calc(100vh - 100%);
  top: 100%;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.smallMenu a {
  font-size: 2rem;
  color: #000;
}

.smallMenu li {
  display: block;
  margin: 0;
}

/* Main */
#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem auto;
}

/* Features */
#features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 950px) {
  #features-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#features-image {
  min-height: 15em;
  min-width: 15em;
  max-height: 15em;
  max-width: 15em;
  margin: -3em auto 2em auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#features-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  grid-gap: 2em;
}

.feature-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.feature-icon img {
  display: block;
  height: 4rem;
  margin: auto;
}

/* Pricing */
@media screen and (min-width: 530px) {
  #pricing-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card {
  border: 0.1rem solid #016644;
  text-align: center;
}

.card-active {
  border: 0.1rem solid #d0700f;
}

.card-active .card-header {
  background-color: #e87d11;
}

.card-header {
  background-color: #017f55;
  color: white;
  font-weight: bold;
  padding: 1rem;
}

.card-content {
  padding: 4rem;
}

.card-content h4 {
  padding: 2rem 0 1rem 0;
  color: #017f55;
}

.card-content p {
  padding-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */