/* dark #006B47
light #007F55
accent #E87D12 */

@import url("https://fonts.googleapis.com/css?family=Handlee");
@import url("https://fonts.googleapis.com/css?family=Muli");

body {
   background-image: url("../images/background.jpg");
   background-position: 50% 60%;
   background-attachment: fixed;
   background-size: cover;

   font-size: 1vw;
}
