body {
   background-color:#CCC;
   font-size: 1.5vh;
   font-family: Muli, sans-serif;
   display: grid;
   align-items: center;
   justify-items: center;
}

a {
   color: #088;
   text-decoration: none;
}

a:hover {
   color: #800;
}

header {
   background-color: rgb(1, 66, 66);
   color: #FFF;
   width: 100vw;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
}

header a {
   color: #FFF;
   text-decoration: none;
}

header a:hover {
   color: #FFF;
}

nav ul {
   margin: 0;
}

nav li {
   display: inline-flex;
   padding: .8vh 1vw;
}

nav li:hover {
   background-color: rgb(0, 114, 114);
}

main {
   background-color: #fff;
   border-radius: 1vw;
   position: relative;
   width: 95vw;
   margin: 5vh 0;
   padding: 1vw;
   z-index: 0;
   display: grid;
}

h2 {
   color: rgb(1, 66, 66);
   margin: 0;
   padding: 0;
}

h3 {
   margin: 1vh 0;
   padding: 0;
}

ul, li {
   margin: 0 1vw;
   padding: 0;
}

p {
   margin: 0;
   padding: 0;
}

.top_padding {
   padding: 1vh 0;
}

.bottom_padding {
   padding: 1vh 0;
}

footer {
   background-color: #666;
   color: #CCC;
   font-size: 1.2vh;
   width: 100vw;
   padding: .25vw;
   position: fixed;
   bottom: 0;
   left: 0;
   display:grid;
   align-items: center;
   justify-items: center;
}

@media screen and (max-width: 300px) {
  main {
     width: 50%;
  }
}